<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <title>AQI</title>
</head>
<body>
    <div class="DIVhead">
        <p class="Phead">Air quality now</p>
    </div>
    <form class="FORMzip" method="POST">
        <input class="INPUTzip" type="text" placeholder="Zipcode" name="zipcode">
        <input class="INPUTzip_submit" type="submit" value="Go!">
    </form>
</body>
</html>